
/* CONTACT-CONTAINER */
.contact-ctn{
    text-align: center;

    padding: 5rem 0 2rem 0;

    h2{
        font-size: 36px;
        margin-bottom: 15px;
    }

    p{
        font-size: 20px;
        margin-bottom: 40px;
    }

    input, textarea{
        width: 200px;

        padding: 10px 20px;
        margin: 0 10px 20px;

        font-size: 16px;

        border: 1px solid var(--VeryLightGrey-color);
        border-radius: px;
    }

    textarea{
        display: block;

        width: 470px;
        height: 150px;

        margin: 0 auto 20px;
    }

    input[type="submit"]{
        display: block;

        margin: 0 auto;

        background-color: var(--JungleGreen-color);

        color: var(--White-color);

        cursor: pointer;
    }
}