
/* HDR-CTN */
.hdr-ctn{
    width: 100%;
    height: 80px;

    background-color: var(--BlackPearl-color);

    padding: 0 2rem;
}

/* NAV-CTN */
.nav-ctn{
    position: relative;
}

/* LOGO (IMG) */
.logo{
    width: 50px;
    margin-top: 15px;
}

/* UL-NAV-ITM */
.ul-nav-itm{
    display: inline-block;
    
    position: absolute;

    right: 0;
    margin: 0;

    height: 80px;
    line-height: 80px;

    li{
        display: inline-block;

        text-transform: uppercase;

        margin-left: 25px;
    }

    a{
        color: var(--White-color);

        text-decoration: none;

        transition: 0.5s;

        &:hover{
            color: var(--VeryLightGrey-color);
        }
    }
}

/* UL-NAV-ITM > LI > CLASS DEFAULT-BTN */
.default-btn{
    padding: 15px 20px;

    background-color: var(--JungleGreen-color);

    border-radius: 5px;

    .ul-nav-itm &:hover{
        background-color: var(--MountainMeadow-color);

        color: var(--White-color);
    }
}