
/* COLORS */
:root{
    --NightRider-color: #333;
    --Raven-color: #70747a;
    --BlackPearl-color: #232a31;
    --White-color: #fff;
    --VeryLightGrey-color: #ccc;
    --JungleGreen-color: #2cc76A;
    --MountainMeadow-color: #22bb5F;
    --Black-color: #000;
    --Cinnabar-color: #EF3F29;
    --CarrotOrange-color: #EF8F29;
    --Zircon-color: #E8E9EA;
    --LimeGreen-color: #2CC762;
}